* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Inter", sans-serif;
}

#hero,
#description,
#mission,
#contact,
#desc-txt,
#mission-txt,
#contact-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  flex-direction: column;
  background-image: url(./images/hero-bg.png);
  height: 30rem;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}

#hero > img {
  width: 10em;
  position: absolute;
  top: 10px;
  left: 10px;
}

.u-a-logo {
  border-radius: 50px;
}

.logo {
  background: white;
  width: 8em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo-img {
  width: 8em;
}

#hero > h2 {
  font-weight: 900;
}

.f-h,
.desc-head,
.mission-head,
.contact-head {
  color: black;
  background: white;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.s-h {
  background: black;
  padding: 10px 60px;
}

#description,
#mission,
#contact {
  flex-direction: row;
  background: black;
  max-height: 30em;
  margin-bottom: 40px;
}

#desc-txt,
#mission-txt,
#contact-txt {
  flex-direction: column;
  width: 50%;
  height: 30em;
}

#desc-img,
#mission-img,
#contact-img {
  background: white;
  height: 30em;
  width: 50%;
  background-position: center;
  background-size: cover;
}

#desc-img {
  background-image: url(./images/monopoly.png);
}

#mission-img {
  background-image: url(./images/club-members.jpg);
}

#contact-img {
  background-image: url(./images/magic.png);
}

#desc-txt > p,
#mission-txt > p,
#contact-txt > p {
  text-align: center;
  margin: 0 10px;
}

footer {
  background: black;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
}

footer > a {
  text-decoration: none;
}

/* Media Quiries */
@media only screen and (min-width: 800px) {
  .f-h,
  .s-h {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  #hero > img,
  .logo,
  .logo-img {
    width: 6em;
  }
  .u-a-logo {
    border-radius: 25px;
  }
  #description,
  #mission,
  #contact {
    flex-direction: column;
    min-height: 30em;
  }
  #desc-txt,
  #mission-txt,
  #contact-txt {
    max-height: 15em;
  }
  #desc-txt > p,
  #mission-txt > p,
  #contact-txt > p {
    margin: 0 0;
  }
  #desc-img,
  #desc-txt,
  #mission-img,
  #mission-txt,
  #contact-img,
  #contact-img {
    width: 100%;
  }
  .desc-head,
  .mission-head,
  .contact-head {
    font-size: 20px;
    padding: 10px 30px;
  }
}
